.cardContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
  }
  .cardContainer:hover {
    border: 2px solid grey;
  }
  img{
    height: 200px;
    width: 200px;
  }