.cardContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 1px;
    padding: 2px;
    cursor: pointer;
  }
.cardContainer:hover {
    border: 2px solid grey;
}
img{
    height: 150px;
    width: 150px;
}